<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous">
    </script>
	<link rel="stylesheet" href="/css/styles.css">
	<script>
		$(document).ready(function(){
			setInterval(function(){
				// $("#test")=($SCRIPT_ROOT+"/_stuff",function(data){return(data)});
				$.getJSON("/_stuff",function(data){$("#test").text(data[0][0])});
			},1000);
		});
	</script>
	<script>
		$(function(){
			setInterval(function(){
				// alert("clicked!")
				$.getJSON("/_stuff",function(data){
					$('#firstbox option[value=1]').text(data[0][0])
					// $("#firstbox").replaceWith('<option value="2">' + "timmy" + '</option>');
					// $("#firstbox").append('<option value="3">' + "timmy" + '</option>')
					// $("#firstbox").append('<option value="4">' + "timmy" + '</option>')
					// $("#firstbox").append('<option value="5">' + "timmy" + '</option>')
					// $("#firstbox").append('<option value="6">' + "timmy" + '</option>')
					// $("#firstbox").append('<option value="7">' + "timmy" + '</option>')
					// $("#firstbox").append('<option value="8">' + "timmy" + '</option>')
					// $("#firstbox").append('<option value="9">' + "" + '</option>')
					// $("#firstbox").append('<option value="10">' + "" + '</option>')
					// //
					$("#Team_2").append('<option value="1">' + data[0][0] + '</option>');
					// $("#Team_2").append('<option value="2">' + "timmy" + '</option>')
					// $("#Team_2").append('<option value="3">' + "timmy" + '</option>')
					// $("#Team_2").append('<option value="4">' + "timmy" + '</option>')
					// $("#Team_2").append('<option value="5">' + "timmy" + '</option>')
					// $("#Team_2").append('<option value="6">' + "timmy" + '</option>')
					// $("#Team_2").append('<option value="7">' + "timmy" + '</option>')
					// $("#Team_2").append('<option value="8">' + "timmy" + '</option>')
					// $("#Team_2").append('<option value="9">' + "" + '</option>')
					// $("#Team_2").append('<option value="10">' + "" + '</option>')
					// //
					// $("#Team_3").append('<option value="1">' + data.word + '</option>')
					// $("#Team_3").append('<option value="2">' + "timmy" + '</option>')
					// $("#Team_3").append('<option value="3">' + "timmy" + '</option>')
					// $("#Team_3").append('<option value="4">' + "timmy" + '</option>')
					// $("#Team_3").append('<option value="5">' + "timmy" + '</option>')
					// $("#Team_3").append('<option value="6">' + "timmy" + '</option>')
					// $("#Team_3").append('<option value="7">' + "timmy" + '</option>')
					// $("#Team_3").append('<option value="8">' + "timmy" + '</option>')
					// $("#Team_3").append('<option value="9">' + "" + '</option>')
					// $("#Team_3").append('<option value="10">' + "" + '</option>')
					// //$("#firstbox").append('<option value="1">' + data.word + '</option>')
					// $("#Team_4").append('<option value="2">' + "timmy" + '</option>')
					// $("#Team_4").append('<option value="3">' + "timmy" + '</option>')
					// $("#Team_4").append('<option value="4">' + "timmy" + '</option>')
					// $("#Team_4").append('<option value="5">' + "timmy" + '</option>')
					// $("#Team_4").append('<option value="6">' + "timmy" + '</option>')
					// $("#Team_4").append('<option value="7">' + "timmy" + '</option>')
					// $("#Team_4").append('<option value="8">' + "timmy" + '</option>')
					// $("#Team_4").append('<option value="9">' + "" + '</option>')
					// $("#Team_4").append('<option value="10">' + "" + '</option>')
				});
			},1000);
		});
	</script>
</head>
<body>
	<h3>SmallSons Minecraft Battle Royale Server</h3>
	<div id="test">
		<p>	This is the first contentAA!</p>
	</div>
	<button id="btn">Click to Change</button>
	<h3>List Box</h3>
	<table border="1">
		<tr>
			<th> Landing</th>
			<th> Listbox 1</th>
			<th> Listbox 2</th>
			<th> Listbox 3</th>
			<th> Listbox 4</th>
		</tr>
		<tr>
			<td>
				<select id="Landing" multiple="multiple"size=20 style="width: 100px">
					<option value="1"> </option>
					<option value="2"> </option>
					<option value="3"> </option>
					<option value="4"> </option>
					<option value="5"> </option>
					<option value="6"> </option>
					<option value="7"> </option>
					<option value="8"> </option>
					<option value="9"> </option>
					<option value="10"> </option>
				</select>
			</td>
			<td>
				<select id="firstbox" multiple="multiple" size=20 style="width: 100px">
					<option value="1"> </option>
					<option value="2"> </option>
					<option value="3"> </option>
					<option value="4"> </option>
					<option value="5"> </option>
					<option value="6"> </option>
					<option value="7"> </option>
					<option value="8"> </option>
					<option value="9"> </option>
					<option value="10"> </option>
				</select>
			</td>
			
			<td>
				<select id="Team_2" multiple="multiple"size=20 style="width: 100px">
					<option value="1"> </option>
					<option value="2"> </option>
					<option value="3"> </option>
					<option value="4"> </option>
					<option value="5"> </option>
					<option value="6"> </option>
					<option value="7"> </option>
					<option value="8"> </option>
					<option value="9"> </option>
					<option value="10"> </option>
				</select>
			</td>
			<td>
				<select id="Team_3" multiple="multiple"size=20 style="width: 100px">
					<option value="1"> </option>
					<option value="2"> </option>
					<option value="3"> </option>
					<option value="4"> </option>
					<option value="5"> </option>
					<option value="6"> </option>
					<option value="7"> </option>
					<option value="8"> </option>
					<option value="9"> </option>
					<option value="10"> </option>
				</select>
			</td>
			<td>
				<select id="Team_4" multiple="multiple"size=20 style="width: 100px">
					<option value="1"> </option>
					<option value="2"> </option>
					<option value="3"> </option>
					<option value="4"> </option>
					<option value="5"> </option>
					<option value="6"> </option>
					<option value="7"> </option>
					<option value="8"> </option>
					<option value="9"> </option>
					<option value="10"> </option>
				</select>
			</td>
			<td>
				<input type="button" id="button1" value=">>">
				<input type="button" name="button2" value="<<">
			</td>
		</tr>
	</table>
	<ol>
		<li>fish keeping</li>
		<li> GOOOCHI</li>
	</ol>
</body>
</html>

<!-- 
function update_values() {
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            $.getJSON($SCRIPT_ROOT+"/_stuff",
                function(data) {
                    $("#cpuload").text(data.cpu+" %")
                    $("#ram").text(data.ram+" %")
                    $("#disk").text(data.disk+" %")
                });
        } -->